name: labelstack
services:
    backend:
        build:
            context: .
            dockerfile: Dockerfile
        restart: unless-stopped
        entrypoint: ["/app/entrypoint.sh"]
        expose:
            - "80"
        env_file:
            - .env
        depends_on:
            postgres:
                condition: service_healthy

    # caddy:
    #     image: caddy:2.10-alpine
    #     restart: unless-stopped
    #     ports:
    #         - "80:80"
    #         - "443:443"
    #     volumes:
    #         - ./config/caddy:/etc/caddy
    #         - /var/www/labelstack:/usr/share/caddy
    #         - caddy_data:/data
    #         - caddy_config:/config

volumes:
    caddy_data:
    caddy_config:
